@mixin pc {
  #wrap {
    max-width: 1025px;
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
  header {
    background-color: aquamarine;
    height: 123px;
    width: 100%;
  }
  @mixin sec {
    width: 100%;
    position: relative;
  }
  .sec {
    @include sec;
  }
  .sec01 {
    height: 280px;
    background-color: cornsilk;
  }
  .sec02 {
    height: 270px;
    display: flex;
    justify-content: space-between;
    .cls {
      height: 100%;
      width: 280px;
    }
    .cls01 {
      background-color: turquoise;
    }
    .cls02 {
      background-color: rgb(246, 255, 193);
    }
    .cls03 {
      background-color: rgb(135, 135, 255);
    }
  }
  .sec03 {
    height: 150px;
    display: flex;
    justify-content: space-between;
    .cls {
      height: 100%;
      width: 33.33333%;
    }
    .cls01 {
      background-color: darkgray;
    }
    .cls02 {
      background-color: darkturquoise;
    }
    .cls03 {
      background-color: rgb(160, 122, 185);
    }
  }
  footer {
    width: 100%;
    height: 6.875rem;
    background-color: deepskyblue;
  }
}
@mixin tablet {
  .sec02 {
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    .cls {
      height: 270px;
    }
    .cls01,
    .cls02 {
      width: 50%;
    }
    .cls03 {
      width: 100%;
    }
  }
  .sec03 {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    .cls {
      height: 150px;
    }
    .cls01,
    .cls02 {
      width: 50%;
    }
    .cls03 {
      width: 100%;
    }
  }
}
@mixin mobile {
  header {
    height: 80px;
  }
  .sec02 {
    height: 810px;
    display: block;
    .cls {
      width: 100%;
      height: 270px;
    }
  }
  .sec03 {
    height: 450px;
    display: block;
    .cls {
      width: 100%;
      height: 150px;
    }
  }
}
body {
  margin: 0px;
  padding: 0px;
}
@include pc();
@media screen and (min-width: 768px) and (max-width: 999px) {
  @include tablet();
}
@media screen and (max-width: 767px) {
  @include mobile();
}
/*
header{
  height:
  @if 
}



*/
